.home-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.motivational-quote {
    color: white;
    font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}