.navBarOne {
  top: 0px;
  position: sticky;
  z-index: 5;
  box-shadow: 0px 2px 2px #ed5843;
}


.bg-navBg {
  background-image: linear-gradient(-50deg, #e63247 0%, #ed5843 100%);
}

.signNav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.signNav:hover {
  color: grey;
}




