// Place all the styles related to the onepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: #f2f2f2;
}

.habit-container{
    background-color: white;
    box-shadow: 0 0 1px grey;
    margin-top: 50px;
    padding: 0 20px;
}

.all-habits{
    display: flex;
    justify-content: space-between;
    color: black
}

.progress-container{
    background-color: white;
    box-shadow: 0 0 1px grey;
    margin-top: 42px;
    padding: 57px 20px;
}

.dashboard-title {
    padding: 20px 0px;
}

.habits-list {
    padding-bottom: 20px;
}

.motivation-container{
    background-color: white;
    box-shadow: 0 0 1px grey;
    margin-top: 42px;
    padding: 20px 0px;
}

.speaker {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-top: -25px;
}

.quote, .speaker {
    font-family: futura;
}